* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #2f3892;
  font-family: Space Grotesk;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.text {
  width: 50%;
  height: 100vh;
  padding: 15px 15px 15px 100px;
  display: flex;
  align-items: center;
  font-family: Messapia;
}

.text h1 {
  font-size: 70px;
  line-height: 84px;
  font-weight: normal;
  color: #ffe63e;
  text-transform: uppercase;
  animation: slideLeft 2s forwards;
  transition: all ease 0.7s;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.img {
  width: 50%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.img img {
  width: 100%;
  margin: 15px;
}

.img .img-stripe {
  width: calc(50% - 15px);
}

.img .stripe1 {
  animation: stripe-one 60s ease 0s infinite;
}

@keyframes stripe-one {
  50% {
    transform: translateY(-200%);
  }
}

.img .stripe2 {
  transform: translateY(-200%);
  animation: stripe-two 60s ease 0s infinite;
}

@keyframes stripe-two {
  50% {
    transform: translateY(0%);
  }
}
